<img class="absolute top-0 left-0" src="assets/ellipse1.png" alt="Ellipse">
<img class="absolute top-0 left-[422px]" src="assets/ellipse2.svg" alt="Ellipse2">

<div class="flex flex-row h-full bg-p">

    <section class="image flex flex-col flex-[50%]">
        <img class="object-none mt-12 ml-16 self-baseline" src="assets/logo.png" alt="Logo" />
        <img class="object-fit" src="assets/pana.svg" alt="Vector Image" />
    </section>

    <section class="form flex flex-col content-center items-center justify-center flex-[50%]">
        <form [formGroup]="loginForm" class="pt-16 pb-20 px-[34px] h-auto bg-white rounded-2xl w-auto">
            <h2 class="text-5xl font-bold">Login</h2>
            <h3 class="mt-10 text-2xl font-semibold text-gray87">Welcome to Jobzella! 👋🏻</h3>
            <h4 class="mt-3 text-sm text-gray68">Please sign-in to your account and start the adventure</h4>
            
            <jobzella-form-field class="flex-none block w-[394px] mt-6" formControlName="email" type="email"
                label="Email" prefix="mail" />
            <jobzella-form-field class="block w-[394px] mt-3" formControlName="password" [type]="isPasswordVisible"
                label="Password" prefix="lock" suffix="eye" (suffixClick)="togglePasswordVisibility()" />
            
            <div class="flex flex-row justify-between mt-4 text-sm text-urlcyan">
                <label class="text-[#909598]">
                    <input class="mr-1 w-[18px] h-[19px]" type="checkbox">
                    Remember Me
                </label>
                <a href="#">Forgot Password?</a>
            </div>

            <button (click)="login(loginForm.value)" class="block mt-20 btn">Login</button>
        </form>
    </section>

</div>