<section class="flex flex-row items-center w-full h-[99px] bg-white shadow-md justify-between">
    <div class="flex flex-row gap-4 ml-7">
        <i>
            <img src="assets/emoji.svg" alt="Welcome emoji">
        </i>
        <div>
            <h1 class="text-[#23262F] text-2xl font-bold">Hello, Ahmed Muhammed</h1>
            <h3 class="text-[#828282] text-[14px]">Let's start your tasks NOW!</h3>
        </div>
    </div>

    <div class="flex flex-row items-center gap-10 mr-14">
        <i><img src="assets/bell.svg"></i>
        <i><img src="assets/lens.svg"></i>

        <div class="flex items-center gap-1">
            <img src="assets/pfp.png" alt="Profile Picture">
            <i><img src="assets/arrow_down.svg" alt="User menu"></i>
        </div>
    </div>
</section>